body {
    font-family: "Open Sans", serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

nav {
    text-align: center;
}

nav a {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 14px;
}

nav a.current,
nav a:hover {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 55px 0;
    font-size: 50px;
    text-transform: uppercase;
}

header {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 50px;
}

section::after {
    clear: both;
    content: "";
    display: block;
}

img {
    width: 400px;
    height: 250px;
    float: left;
    margin-right: 60px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}